body {
    font-size: 15pt;
}

.editor {
  background: grey;
  height: 700px;
  font-weight: normal;
  font-size: 14.2px;
  font-family: monospace;
  color: floralwhite;
  padding: 10px;
}







 .editor::first-letter {
  text-transform: lowercase;
 }



#String {
  color: yellow;
}


#System {
  color: red;
}


.ace_content .ace_variable {
    color: #01E9C9;
    font-style: italic;
}


.ace_number {
    color: #323EBE;
}


.ace_content .ace_comment {
    color: red;
    font-style: italic;
}


.ace_content .ace_string {
    color: #A80693;
}


.ace_variable {
    color: purple;
}


.ace_content .ace_keyword {
  color: #00BDFF;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px 2px #000;
}



.ace_function {
    color: #C6FB00;
    font-weight: 9000;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}


.scroll2 {
  
}


.ace_content .ace_opreater {
  color: red;
}



#ons {
  transition: all 0.5s;
}



.runs {
  position: fixed;
}


.ace_operator {
    color: mediumspringgreen;
    font-weight: bold;
    font-style: italic;
}


.ace_content .ace_identifier {
  color: gold;
}


.ace_content .ace_punctuation {
  color: yellowgreen;

}
  
  .ace_content .ace_constant {
    color: midnightblue;
  }


.ace_text {
  color: red;
}